.glav{
    width:90%;
    margin-left:5%;
    margin-top:20px;
}
.color2{
    color: #A19199;
}
.iop1{
    margin-left:30px;
}

.iop2{
    width:30px;
}

.men-1{
    float: left;
    position: relative;
    left:500px;
}